doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="renderer" content="webkit")
        link(rel="stylesheet" href="//at.alicdn.com/t/font_j65x3i7zegwj0pb9.css")
        title 主页平台

    body

        block content